.account__function {
  border-radius: 10px;
  background: #f7e5b7;
  margin: $space auto;
  padding: $space;
  min-width: 250px;
  width: 70%;
}

.account__title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.account__title h3 {
  margin-top: auto;
  margin-bottom: auto;
}

.account__title img {
  width: 30px;
  height: 30px;
}

.account__title span {
  border-radius: 5px;
  padding: 3px;
}

.account__content {
  background: #f7e5b7;
  padding: $space;
}

.account__button {
  background: #47020b;
  color: white;
  margin: 0 auto;
  padding: $space;
  width: 100%;
}

.account__post {
  background: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: $space;
  padding: $space;
}

.account__image {
  width: 40px;
  height: 40px;
}

.account__search {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  flex-flow: row wrap;
  button {
    background: #74a6f7;
  }
  button, input {
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    height: 40px;
    padding: 5px;
    width: 45%;
  }
}

.account__messages {
  display: flex;
  justify-content: space-between;
}

.account__contacts {
  display: inline-block;
  padding: 5px;
  width: 30%;
  p {
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
  }
  p:hover {
    cursor: pointer;
    background: white;
    border-radius: 5px;
  }
  span {
    border-radius: 5px;
    padding: 3px;
  }
}

.contact__opened {
  background: white;
  border-radius: 5px;
}

.account__conversation {
  padding: 5px;
  max-height: 300px;
  overflow-y: scroll;
  width: 70%;
  p {
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
    text-align: center;
  }
}

.message__send {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-top: 20px;
  input {
    border-radius: 5px;
    box-sizing: border-box;
    height: 40px;
    padding: 10px;
    width: 70%;
  }
  button {
    background: #74a6f7;
    border-radius: 5px;
    border: none;
    height: 40px;
    padding: 10px;
    width: 30%;
  }
}

.message__received {
  background: white;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  p {
    text-align: left;
  }
}

.message__sent {
  padding: 5px;
  p {
    text-align: right;
  }
}

.account__cancel {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  button {
    color:white;
    background: #c90d04;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    width: 200px;
  }
}

@media (max-width: 600px) {
  .account__function {
    box-sizing: border-box;
    padding: $input-spacing;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .message__send {
    input, button {
      width: 100%;
    }
  }
  .account__search {
    button{
      width: 30%;
    }
    input {
      width: 70%;
    }
  }
}
