.button {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  font-size: $base-font-size;
  line-height: 1.2;
  outline: none;
  padding: $input-spacing;
}

.button--link-text {
  background: none;
  margin: 0;
  padding: $space;
  text-decoration: underline;
  outline: none;
}

.button-submit {
  background: green;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 1.8rem;
  margin: $space auto;
  padding: $space;
  width: 100%;
}

.button-cancel {
  background: #c90d04;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.8rem;
  margin: $space auto;
  padding: $space;
  width: 100%;
}
