.button {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  font-size: $base-font-size;
  line-height: 1.2;
  outline: none;
  padding: $input-spacing;
}

.button--link-text {
  background: none;
  margin: 0;
  padding: $space;
  text-decoration: underline;
  outline: none;
}
