.form {
  padding: $space;
  margin: 0 auto;
  min-width: 250px;
  text-align: left;
  width: 70%;
}

.form label {
  text-align: left;
}

.form__element {
  background: #e6fff9;
  border: 1px solid #008066;
  border-radius: 5px;
  margin: $space auto;
  padding: $space;
}

.form p {
  color: red;
  font-size: 1.6rem;
}

.form__element label {
  font-size: 1.6rem;
}

.form__element textarea {
  font-family: Helvetica, Arial, sans-serif;
  height: 100px;
}

.form__currency {
  display: flex;
  justify-content: space-around;
}

.form__dropzone {
  border: 2px dotted black;
  height: 50px;
  padding: $space;
  text-align: center;
}

.form__center {
  display: flex;
  justify-content: center;
}

.ReactGridGallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: hidden;
}

.text-input {
  border-radius: 4px;
  box-sizing: border-box;
  font-size: $base-font-size;
  height: 50px;
  margin: $space auto;
  padding: 0.7rem;
  width: 100%;
}

@media (max-width: 600px) {
  .form {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .form__element {
    padding: $input-spacing;
  }
}
