.header {
  background-color: $header-bg;
  color: $header-color;
  min-width: 250px;
}

.bell {
  background-image: url("bell.png");
  background-size: 3rem 3rem;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}
.bell__message {
  background: linear-gradient(#e8f7ee, #42ed86);
  border-radius: 5px;
  color: black;
  position: absolute;
  visibility: hidden;
  top: 100%;
  right: 100%;
  width: 110px;
}
.bell:hover .bell__message {
  visibility: visible;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $input-spacing;
}

.header__menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  p {
    padding: $input-spacing;
    margin-top: auto;
    margin-bottom: auto;
  }
  p:hover {
    cursor: pointer;
  }
}

.header__account {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: auto;
}

.header__title {
  font-family: Garamond;
  font-size: 3rem;
  color: white;
  margin: 0;
}

.header__link {
  color: white;
  text-decoration: none;
}

.header__cancel {
  background: $button-secondary-bg;
  border: 1px solid $button-secondary-border-color;
  color: $button-secondary-color;
  width: 100%;
}
