.header {
  background-color: $header-bg;
  color: $header-color;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $space;
}

.header__title {
  color: white;
  margin: 0;
}

.header__link {
  color: white;
  text-decoration: none;
}

.header__cancel {
  background: $button-secondary-bg;
  border: 1px solid $button-secondary-border-color;
  color: $button-secondary-color;
  width: 100%;
}
