.page__content {
  margin: 0 auto;
  max-width: $site-max-width;
  min-width: 250px;
}

.page__element {
  margin: 10px auto;
  width: 80%;
}

.page__content h2 {
  text-align: center;
}

@media (max-width: 600px) {
  .page__element {
    width: 100%;
  }
}
