.post__details {
  padding: $space;
  text-align: left;
  img{
    height: 150px;
    width: auto;
    padding: 1px;
  }
}
.pins {
  padding: 10px;
  button {
    background-color: #e8f7ee;
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;
    width: 50%;
  }
}
.pins__details {
  text-align: center;
}
.details__buttons {
  display: flex;
  justify-content: space-between;
}
.details__actions {
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}
.details__actions:hover .post__message {
  visibility: visible;
  transition: visibility 0.2s linear 0.2s;
}
.first__section {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 10px;
  h2, h3 {
    margin-left: 10px;
  }
  .post__titleInfo {
    background: #d86bf9;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
  }
}
.contact {
  text-align: center;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  form {
    width: 70%;
  }
  button {
    font-size: 1.8rem;
    padding: 10px;
    width: 100%;
  }
  button:hover {
    cursor: pointer;
  }
  p {
    color: red;
  }
}
.textarea {
  height: 200px;
  padding: 10px;
  resize: none;
  width: 100%;
}
.textarea::placeholder {
  padding: 10px;
  text-align: center;
}
.message__type {
  font-weight: bolder;
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
.post__description {
  background: linear-gradient(#143851, #41657f);
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
  padding: 10px;
}
.post__message {
  background: linear-gradient(#e8f7ee, #42ed86);
  button {
    background: white;
  }
  button, input {
    border: none;
    padding: 5px;
  }
}

.post__particular {
  table td {
    font-weight: bolder;
    padding: 10px;
  }
}

.post__text {
  padding: 10px;
  text-align: left;
}

.post__publicMessages {
  background: linear-gradient(#41657f, #143851);
  border-radius: 5px;
  color: white;
  margin-top: 10px;
  padding: 10px;
}

.post__publicMessage {
  color: white;
  padding: 10px;
}

@media (max-width: 900px) {
  .contact form, .contact button, .textarea {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .post__description {
    flex-flow: row wrap;
  }
}
