.search-bar {
  background: linear-gradient(#e8f7ee, #42ed86);
  color: white;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom: $space;
  min-width: 250px;
}

.search-bar__form {
  color: white;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: $site-max-width;
  padding: $input-spacing;
  button {
    border-radius: 5px;
    font-family: Garamond;
    font-size: 1.8rem;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
  }
}

.checkbox {
  color: #008066;
  display: block;
  margin-left: 5px;
  margin-bottom: $space;
}

.checkbox__box {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: $space / 2;
}

.search-bar__element {
  display: flex;
  justify-content: center;
  max-width: $site-max-width;
  padding: $input-spacing;
}

.search-bar__checkbox {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: $site-max-width;
  padding: $input-spacing;
}

.search-bar__input {
  border: none;
  border-radius: 5px;
  font-family: Garamond;
  font-size: 1.8rem;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: $space;
  padding: 10px;
  text-align: center;
}

.search-bar__input:focus {
  outline: none;
}

option:focus {
    background: white !important;
    color: #820114;
}
